*{
   border-radius: 4px;
   margin: 10px 0;
   padding: 10px;
}

.banner-container {
   background-color: pink;
   border: 1px solid #ccc;
}

.hero{
   background-size: contain;
   height: "400px";
   width: "100%"
}

.banner-container>div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
}