.dog-media {
   position: relative;
   margin: 20px 0;
 }
 
 .slide-container {
   display: flex;
   overflow-x: scroll;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
   -ms-overflow-style: none;
 }
 
 .slide {
   flex: 0 0 100%;
   scroll-snap-align: start;
   margin-right: 10px;
 }
 
 .slide img {
   width:540px; /* you can use % */
   height: auto;
   object-fit: cover;
 }
 
 .dots {
   display: flex;
   justify-content: center;
   margin-top: 10px;
 }
 
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 5px;
   border-radius: 50%;
   background-color: #bbb;
   transition: background-color 0.3s ease;
 }
 
 .dot.active {
   background-color: #717171;
 }
 
 .prev,
 .next {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
   font-weight: bold;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.5);
   border: none;
   outline: none;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 

 