
#dashboardParentContainer {
  height: 150vh;
  display: flex;
  justify-content: center;
}

#dashboardContainer {
  padding: 2%;
  margin-top: 75px;
  height: fit-content;
  width: 60%;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1);

}

#userNameHeader {

}

.dashboardIconContainer {
  display: flex;
  width: 40%;
}

.dogCard {
  padding: 5%;
  margin-top: 2%;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1), -10px 0 20px rgba(0, 0, 0, 0.1);
  height: 2%;
}

.dashboardIcon {
  margin: 2%;
     box-shadow: 0 2px 4px gray;
  transition: all 0.2s ease;
}

.dashboardIcon:active {
   box-shadow: 0 0 2px gray;
  transform: translateY(2px);
}

.dashboardButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: pink;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
   box-shadow: 0 2px 4px gray;
  transition: all 0.2s ease;
}

.dashboardButton:active {
   box-shadow: 0 0 2px gray;
  transform: translateY(2px);
}