#howlr {
  width: auto;
  height: 3rem;
  filter: drop-shadow(5px 5px 2px gray);
  /* padding: 5px; */

}

#btnsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btns {
  margin-left: 10px; }

#navContainer {
  display: flex;
  box-sizing: border-box;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #navContainer {
  flex-direction: column;
  }

  #btnsContainer {
    margin-top: 5%;
  }
}